# REMOVE COMMENTS WHEN COPY THIS FILE

# Leave it empty if no need for sudo user to execute docker commands
DOCKER_USER=sudo

# Container data for docker-compose.yml
PROJECT_TITLE="RABBITMQ"    # <- this name will be prompt for Makefile recipes

# RabbitMQ container
PROJECT_HOST="127.0.0.1"    # <- for this project is not necessary
PROJECT_CAAS="rabbitmq"     # <- container as a service name to build service
PROJECT_PORT_1="8898"       # <- port access container service on local machine
PROJECT_PORT_2="8899"       # <- port access container service on local machine

# RabbitMQ enviroment
RABBITMQ_USER="guest"
RABBITMQ_PASS="guest"
RABBITMQ_COOKIE="3pBRVIu08orKbB7ddlEFeSZ2sQ4kpX8d"
RABBITMQ_NODENAME="rabbit@rabbitmq"